---
import Angular from "./logos/Angular.astro";
import NodeJS from "./logos/NodeJS.astro";
import Tailwind from "./logos/Tailwind.astro";
import Bootstrap from "./logos/Bootstrap.astro";

import DropIcon from "./icons/Drop.astro";
import RobotIcon from "./icons/Robot.astro";

import Card from "./Card.astro";

const TAGS = {
  ANGULAR: {
    name: "Angular",
    class: "bg-[#914646] text-white",
    icon: Angular,
  },
  BOOTSTRAP: {
    name: "Bootstrap",
    class: "bg-[#9376be] text-white",
    icon: Bootstrap,
  },
  NODEJS: {
    name: "Node.js",
    class: "bg-[#024302] text-white",
    icon: NodeJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#38B2AC] text-white",
    icon: Tailwind,
  },
};
const PROJECTS = [
  /* Proyecto 1 */
  {
    icon: RobotIcon,
    title: "PostgradIA",
    description:
      "Asistente virtual que usa tecnologías de inteligencia artificial en el procesamiento de lenguaje natural, para la inscripción de maestrías y atención al usuario en el Instituto de Postgrado de la UPSE ",
    link: "https://postgradia.netlify.app/",
    github: "https://github.com/",
    image: "/projects/videoAV.mp4",
    tags: [TAGS.ANGULAR, TAGS.NODEJS, TAGS.BOOTSTRAP],
  },
  /* Proyecto 2 */
  /* Esta es una aplicacion de Sistema Integral de Gestión de Pagos para la Junta de Agua Potable de la Parroquia Manglaralto: Desarrollo, Implementación y Capacitación
   */
  {
    icon: DropIcon,
    title: "JaapMan",
    description:
      " Aplicación web para la gestión de pagos de la Junta de Agua Potable de la Parroquia Manglaralto. Lorem20 ipsum dolor sit amet consectetur adipisicing elit. ",
    link: "https://postgradia.netlify.app/",
    github: "https://github.com/",
    image: "/projects/JaapMan.mp4",
    tags: [TAGS.ANGULAR, TAGS.NODEJS, TAGS.BOOTSTRAP],
  },
];
---

<!-- TODO: 2 Cards para los proyectos ambos en una fila, en el card debe estar arriba el video y abajo la descripcion -->
<div class="flex flex-col md:flex-row gap-10 md:gap-5 my-10 pt-2 ">
  {
    PROJECTS.map(({ image, icon, title, description, tags, link, github }) => (
      <Card 
        Demo={image} 
        icon={icon}
        title={title} 
        tags={tags} 
        descripcion={description}
        link={link}
        github={github}
        
      />
    ))
  }
</div>


